<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h2 class="text-danger mb-4">입력한 행정 구역에 대한 정보가 없습니다.</h2>
        <a class="btn btn-secondary" href="/">다시 시도하기</a>
    </div>
</body>
</html>
